In [1]:
import requests
import pandas as pd

# Make a GET request to a specific endpoint
url = 'https://api.tfl.gov.uk/AccidentStats/2018'

response = requests.get(url)

data = response.json()

data[0]

for entry in data:
  id = entry['id']
  location = entry['location']
  time = entry['date']
  lat = entry['lat']
  lon = entry['lon']

df = pd.DataFrame(data, columns=['id','location','date','lat','lon'])
df

,id,location,date,lat,lon
0,320652,Lord Hills Bridge 25 metres north of junction ...,2018-02-13T14:49:00Z,51.519149,-0.188833
1,320653,Great Portland Street junction with Market Place,2018-02-14T07:46:00Z,51.515700,-0.140831
2,320654,Queensway junction with Queensway,2018-02-13T13:25:00Z,51.511400,-0.187843
3,320655,Harrow Road junction with Edgware Road,2018-02-14T20:30:00Z,51.519761,-0.170358
4,320656,Harrow Road junction with Woodfield Road,2018-02-14T21:30:00Z,51.523528,-0.198749
...,...,...,...,...,...
51269,323104,Essex Road junction with Dagmar Terrace,2018-04-13T19:04:00Z,51.538061,-0.099688
51270,323105,Cynthia Street junction with Pentonville Road,2018-04-13T18:05:00Z,51.531443,-0.113084
51271,323106,Holloway Road 58 metres north of junction with...,2018-04-14T13:33:00Z,51.556514,-0.117528
51272,323107,City Road 15 metres north of junction with Old...,2018-04-14T21:47:00Z,51.526151,-0.087829
51273,323108,Petherton Road junction with Petherton Road,2018-04-03T18:30:00Z,51.552661,-0.090569

In [3]:
filepath = r"C:\Users\lisa_\Desktop\Accident details in London 2018.csv"

df.to_csv(path_or_buf = filepath, header = ("ID", "location", "date", "lat", "lon"))